<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo</title>
    <link rel="stylesheet" href="./assets/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="/assets/jqAjax.js"></script>
</head>
<body>
    <h1>Add Todo Item</h1>
    <div class='todo'>
        <form action="/todo" method="POST">
            <input type="text" name="item" id="item" required placeholder="add item here...">
            <button type="submit">Add</button>
        </form>
        
        <ul id='ulList'>
            <%todos.forEach(function(task){ %>
               <li><%=task.item%></li>
               <%})%>
        </ul>
    </div>
</body>
</html>