body{
    text-align: center;
    background-color: rgb(49, 51, 51)
}

div{
    text-align: center;
    background-color: rgb(16, 17, 17);
    padding: 1cm;
    margin-left: 5cm;
    margin-right: 5cm;
    border-style: solid;
    border-radius: 0mm;
    border-color: rgb(16, 17, 17);
}
li{
    text-align: center;
    list-style-type: none;
    color: aliceblue;
    padding: 1mm;
    font-size: 7mm;
    margin-top: 0.5mm;
    border-style: solid;
    background-color: rgb(49, 51, 51);
    border-color:  rgb(49, 51, 51);
    cursor: pointer;
}
.task{
    width: 5cm;
    height: 5mm;
}
h1{
    color: aliceblue
}
#item{
    outline-style: solid;
    outline-color: rgb(49, 51, 51);
    width: 10cm;
    height: 7mm;

}
button{
    height: 9mm;
    outline-style: solid;
    outline-color: rgb(49, 51, 51);
    width: 3cm;
}
li:hover{
    background-color: rgb(37, 37, 46);
    text-decoration: line-through;
}
